.dashboard-body {
  background-color: var(--black);
}

.dashboard-container {
  width: 100%;
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  text-align: center;

 }
  
 .header-dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
  width: 100%;
  border-bottom: 1px solid var(--gold);
 }

 .header-dashboard h2 {
  font-size: 1.5rem;
 }

.header-dashboard img {
  width: 4%;
}

  .user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    text-align: center;
    width: 100%;
    background-color: var(--black);
    margin: 2rem 0;
    padding: 2rem 0;
  }
  
  .user-info p {
    margin: 0.5rem 0;
    color: var(--gold);
    font-size: 1.5rem;
  }
  
  .admin-links {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
  
  .admin-link {
    display: block;
    background-color: var(--gold);
    color: var(--black);
    font-weight: bold;
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
    text-align: center;
    margin-bottom: 0.5rem;
    text-decoration: none;
    transition: border 0.5s ease;
    width: 100%;
    max-width: 300px;
  }
  
  .admin-link:hover {
    background-color: var(--gold-transparent);
    border: 1px solid var(--white);
  }

  .container-logo-fixed {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -99;
    position: absolute;
    top: 70%;
  }

  .logo-dashboard {
    width: 12%;
    opacity: 0.6;
  }