* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --gold:#e1c340;
    --gold-transparent:#e1c34063;
    --white-transparent:#ffffff8e;
    --black:#000000;
    --white:#ffffff;
    --cor-disponivel:#28a745;
    --cor-ocupado: #ff0019d8;
}