.list-agendamentos {
  background-color: #ffffff;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  padding: 2rem;
  text-transform: uppercase;
  z-index: 1;
  font-size: clamp(1rem, 2.5vw, 2rem);
  text-align: center;
}

.filter-container {
  margin: 4rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container-btn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 1rem;
  width: 70%;
}

.container-btn button {
  border: none;
  padding: 1rem;
  width: 100%;
  font-weight: bold;
}

.filter-container label {
  font-weight: bolder;
  font-size: 1.2rem;
  color: var(--black);
  text-transform: uppercase;
}

.filter-container input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  color: var(--black);
}

.calendar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.calendar-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.calendar-date {
  display: flex;
  gap: .5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--black);
  font-size: 1.2rem;
}

.calendar-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.list-agendamento-item {
  background-color: black;
  padding: 1rem;
  width: 200px;
  box-shadow: 0 4px 8px var(--gold-transparent);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: .5rem;
  font-weight: bolder;
  text-align: center;
}

.calendar-content p {
  margin: 0.25rem 0;
}



/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .container-btn {
    width: 90%;
    flex-direction: column;
  }

  .container-btn button {
    width: 100%;
  }

  .calendar-item {
    width: 150px;
    
  }
}

@media (max-width: 480px) {
  header {
    padding: 1rem;
  }

  .filter-container {
    margin: 2rem 0;
  }

  .calendar-date {
    font-size: 1rem;
  }

  .calendar-item {
    width: 150px;
    padding: 1rem 2rem;
  }
}