/* Login.module.css */

.containerLogin {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  gap: 2rem;
  background-color: var(--black);
  font-family: 'Roboto', sans-serif;
  color: var(--gold);
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.textLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  gap: 0.5rem;
}

.textLogo h2 {
  font-size: 1.8rem;
  letter-spacing: 2px;
}

.containerLogo img {
  width: 25%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 1rem;
  width: 40%;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px var(--gold-transparent), 0 4px 18px var(--gold-transparent);
}

.form input {
  padding: 1rem;
  width: 90%;
  text-align: center;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  background-color: var(--gold-transparent);
  color: var(--white);
  border: 1px solid var(--white-transparent);
  border-radius: 2rem;
}

.form input::placeholder {
  color: var(--white-transparent);
}

.button {
  background-color: var(--gold);
  color: var(--black);
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 1rem;
  width: 70%;
  border-radius: 2rem;
}

.erroConexao {
  padding: 0.5rem 1rem;
  background: white;
  color: var(--black);
  border-radius: 1rem;
  text-transform: capitalize;
  margin: 0.5rem 0;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .containerLogo img {
    width: 50%;
  }

  .form {
    width: 90%;
    padding: 0.5rem;
  }

  .button {
    width: 70%;
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .textLogo {
    font-size: 1rem;
  }

  .textLogo h2 {
    font-size: 1.5rem;
  }

  .containerLogo img {
    width: 30%;
  }

  .form {
    width: 100%;
  }

  .button {
    width: 80%;
  }
}