/* Login.module.css */
body {
  background-color: var(--gold-transparent);
}

.containerLogin { 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  width: 70%;
  background: var(--gold);
  font-family: 'Roboto', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  border: 1px solid var(--black);
  border-radius: 2rem;
}

.containerLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--yellow);
  background-color: var(--black-transparent);
  gap: 3rem;
  width: 50%; 
  height: 120%; 
  border-top-right-radius: 50%; 
  border-bottom-right-radius: 50%; 
}

.textLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
}

.textLogo h2 {
  font-size: 1.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.containerLogo img {
  width: 30%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--black);
  padding: 1rem;
  width: 50%;
  border-radius: 0.5rem;
}

.form input {
  padding: 0.5rem;
  width: 70%;
  text-align: center;
  border: none;
  border-bottom: 1px solid var(--black);
  font-size: 1rem;
  background-color: transparent;
  color: var(--black);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s; /* Adiciona uma transição suave */
}

.form input:focus {
  border-bottom: 2px solid var(--gold); /* Altera a cor da borda ao focar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Adiciona uma sombra ao focar */
}

.form input::placeholder {
  color: var(--bege);
}

.button {
  background-color: var(--gold);
  color: var(--black);
  border: 1px solid var(--black);
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
  padding: 1rem;
  width: 70%;
  border-radius: 2rem;
}

.erroConexao {
  padding: 0.5rem 1rem;
  background: white;
  color: var(--black);
  border-radius: 1rem;
  text-transform: capitalize;
  margin: 0.5rem 0;
}

/* Media Queries for Mobile Responsiveness */
@media (max-width: 768px) {
  .containerLogo img {
    width: 50%;
  }

  .form {
    width: 90%;
    padding: 0.5rem;
  }

  .button {
    width: 70%;
    margin: 0.5rem 0;
  }
}

@media (max-width: 480px) {
  .textLogo {
    font-size: 1rem;
  }

  .textLogo h2 {
    font-size: 1.5rem;
  }

  .containerLogo img {
    width: 30%;
  }

  .form {
    width: 100%;
  }

  .button {
    width: 80%;
  }
}